@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @using mvcGiris.Models *@
@using mvcGiris.entity
@using mvcGiris.Models



@* artık modelse değil entity'den veri alıyoruz. *@

@* bütün cshtml dosyalarına teker teker eklememek için  View klasörünün içine ekledik
Diğer türlü index.cshtml dosyasında
 <h4>@(((Product)ViewData["Product"]).Name)</h4> satırında Product hata veriyor*@
